.text-container {
  text-align: center;
  padding: 20px;
}
.typing-text {
  overflow: hidden;
  border-right: .15em solid yellow;
  white-space: nowrap;
  margin: 0 auto;
  width: 0%;
  animation: typing 5s steps(40, end) forwards;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0%;
    border-right: .15em solid yellow;
  }
  to {
    width: 100%;
    border-right: .15em solid rgb(228, 6, 6);
  }
}

.glowing-div {
  margin: 0;
  border: 5px solid transparent;
  border-radius: 15px;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    border-color: rgba(255, 223, 186, 0.7);
    box-shadow: 0 0 10px rgba(255, 223, 186, 0.7);
  }
  50% {
    border-color: rgba(255, 223, 186, 0.3);
    box-shadow: 0 0 20px rgba(255, 223, 186, 0.3);
  }
  100% {
    border-color: rgba(255, 223, 186, 0.7);
    box-shadow: 0 0 10px rgba(255, 223, 186, 0.7);
  }
}
